body {
  position: relative;
  font-family: "Source Code Pro", "Space Grotesk", sans-serif;
  /* font-size: 2rem; */
  background: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  color: aliceblue;
}

/* Global Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  body {
    display: flex;
    font-size: 1.6rem;
    font-family: "Source Code", "Space Grotesk", sans-serif;
    color: aliceblue;
    box-sizing: border-box;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center;
    width: 100%;
    /* height: 100vh; */
  }
}  

